.analytics-dashboard {
    display: grid;
    align-items: center ;
    height: 10 px;
    width: 1700px;
    margin-top: 65px;
    
  }
  
  .dashboard-body {
    display: grid;
    margin-left: 400px;
    flex: 1;
  }
  
  .content {
    flex: 1;
    /* background-color: #f9f9f9; */
    margin-top: 10px;
  }

.h1AD {
  margin-left: 30px;
  margin-bottom: 0px;
}