.filters {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку, если не хватает места */
    gap: 20px; /* Промежуток между элементами */
  }
  
  .filters__group {
    display: flex;
    align-items: center; /* Выравнивание элементов по центру по вертикали */
  }
  
  .filter__input {
    margin-left: 10px; /* Отступ между меткой и полем ввода */
  }