.header {
  position: fixed; /* Закрепляем хедер сверху */
  top: 0;
  left: 0;
  width: 100%; /* Растягиваем на всю ширину */
  display: flex;
  /* justify-content: space-between; */
  gap: 80px;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для отделения от контента */
  z-index: 1000; /* Поверх остальных элементов */
}

.logo {
  font-family: 'Pobeda', sans-serif; /* Применяем шрифт Pobeda */
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-left: 1px;
}

.clickable-logo {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Унаследуем цвет от родителя */
}

.red-letter {
  color: red; /* Цвет первой буквы */
}


.navh {
  display: flex;
  align-items: center;
  gap: 105px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Скругление только слева */
  width: 290px;
  height: 20px;
  font-size: 17px; /* Увеличиваем размер шрифта */
}

.search-button {
  border: none;
  background-color: #ACCFB2;
  padding: 10px;
  border-radius: 0 5px 5px 0; /* Скругление только справа */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-left: none; /* Убираем границу между строкой и кнопкой */
}

.search-button img {
  width: 20px; /* Размер иконки */
  height: 20px;
}


.login-button {
  
  padding: 7px 30px; /* Увеличиваем отступы для большей кнопки */
  background-color: #fff; /* Цвет фона (синий) */
  color: #000000; /* Цвет текста (черный) */
  border: 1px solid #000;
  border-radius: 7px; /* Закругляем углы */
  cursor: pointer; /* Указываем, что это кнопка */
  transition: background-color 0.3s ease; /* Плавный переход для фона */
  font-size: 18px; /* Увеличиваем размер шрифта */
}

.register-button {
  margin-right: 60px; /* Увеличьте или уменьшите значение по необходимости */
  padding: 7px 30px; /* Увеличиваем отступы для большей кнопки */
  background-color: #fff; /* Цвет фона (синий) */
  color: #000000; /* Цвет текста (черный) */
  border: 1px solid #000;
  border-radius: 7px; /* Закругляем углы */
  cursor: pointer; /* Указываем, что это кнопка */
  transition: background-color 0.3s ease; /* Плавный переход для фона */
  font-size: 18px; /* Увеличиваем размер шрифта */
}

.login-button:hover {
  background-color: #000; /* Черный цвет фона при наведении */
  color: #fff; /* Белый цвет текста при наведении */
}
.register-button:hover {
  background-color: #000; /* Черный цвет фона при наведении */
  color: #fff; /* Белый цвет текста при наведении */
}

.buttons {
  display: flex;
  gap: 40px; /* Расстояние между кнопками */
}

.navh a {
  color: #000; /* Черный цвет текста */
  font-size: 23px; /* Увеличьте размер шрифта по необходимости */
  text-decoration: none; /* Убираем подчеркивание */
}

@font-face {
  font-family: 'Pobeda';
  src: url('./fonts/pobeda-regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Pobeda';
  src: url('./fonts/pobeda-bold.ttf') format('truetype');
  font-weight: bold;
}

.logout-button {
  
  padding: 7px 30px; /* Увеличиваем отступы для большей кнопки */
  background-color: #fff; /* Цвет фона (синий) */
  color: #000000; /* Цвет текста (черный) */
  border: 1px solid #000;
  border-radius: 7px; /* Закругляем углы */
  cursor: pointer; /* Указываем, что это кнопка */
  transition: background-color 0.3s ease; /* Плавный переход для фона */
  font-size: 18px; /* Увеличиваем размер шрифта */
}

.admin-button {
  padding: 7px 30px; /* Увеличиваем отступы для большей кнопки */
  background-color: #fff; /* Цвет фона (синий) */
  color: #000000; /* Цвет текста (черный) */
  border: 1px solid #000;
  border-radius: 7px; /* Закругляем углы */
  cursor: pointer; /* Указываем, что это кнопка */
  transition: background-color 0.3s ease; /* Плавный переход для фона */
  font-size: 18px; /* Увеличиваем размер шрифта */
}
