.image-section {
  width: 400px; /* Ширина, как у формы */
  height: 500px; /* Высота, как у формы */
  place-items: center; /* Центрирует содержимое по горизонтали и вертикали */
  padding: 2%;
  background: #fff; /* Белый фон */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
  overflow: hidden; /* Чтобы контент не выходил за границы */
}

.image-section img {
  width: 100%; /* Изображение заполняет весь контейнер */
  height: 100%; /* Сохраняем высоту контейнера */
  object-fit: cover; /* Сохраняем пропорции */
}