.registration-form {
  width: 400px; /* Совпадает с ImageSection */
  height: 500px; /* Совпадает с ImageSection */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Равномерное распределение контента */
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form input {
  width: 93%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background: #ACCFB2;
  color: #000; /* Изменение цвета текста на чёрный */
  border: none;
  padding: 10px;
  width: 40%;
  height: 10%;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto; /* Центрирование кнопки */
  display: block;
  font-size: 15px; /* Увеличение размера шрифта */
}


.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Новые стили для контейнеров */
.name-container,
.dob-gender-container,
.city-language-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Отступ между строками */
}

.name-container input,
.dob-gender-container input,
.city-language-container input {
    width: 48%; /* Уменьшаем ширину, чтобы они помещались в строку */
}

/* Добавляем отступ между полями в строке */
.name-container input:not(:last-child),
.dob-gender-container input:not(:last-child),
.city-language-container input:not(:last-child) {
    margin-right: 4%; /* Отступ между полями */
}


.registration-form p {
  text-align: center; /* Центрирование текста */
  color: #000; /* Чёрный цвет текста */
  font-size: 14px; /* Увеличение шрифта, если необходимо */
}

.registration-form p a {
  color: #000; /* Чёрный цвет ссылки */
  text-decoration: underline; /* Подчёркивание для ссылки */
  font-weight: bold; /* Жирность текста ссылки (опционально) */
}

.registration-form p a:hover {
  color: #ff8989; /* Зелёный цвет при наведении (опционально) */
  text-decoration: none; /* Убираем подчёркивание при наведении (опционально) */
}