.registration-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 325px;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form input {
  width: 93%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Новые стили для контейнеров */
.name-container,
.dob-gender-container,
.city-language-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Отступ между строками */
}

.name-container input,
.dob-gender-container input,
.city-language-container input {
    width: 48%; /* Уменьшаем ширину, чтобы они помещались в строку */
}

/* Добавляем отступ между полями в строке */
.name-container input:not(:last-child),
.dob-gender-container input:not(:last-child),
.city-language-container input:not(:last-child) {
    margin-right: 4%; /* Отступ между полями */
}
