.app {
  font-family: Arial, sans-serif;
  background-color: #d4ebeb;
  min-height: 100vh; /* Высота видимой области */
  display: flex;
  flex-direction: column;
  position: relative; /* Добавлено для позиционирования дочерних элементов */
}

.containerRL {
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  top: 50%; /* Сдвигаем вниз на 50% высоты родителя */
  left: 50%; /* Сдвигаем вправо на 50% ширины родителя */
  transform: translate(-50%, -50%); /* Центрируем контейнер */
  display: flex; /* Включаем Flexbox для контейнера */
  align-items: center; /* Центрируем элементы внутри по вертикали */
  justify-content: center; /* Центрируем элементы внутри по горизонтали */
  gap: 20px; /* Промежуток между элементами */
  background: #fff; /* Цвет фона */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
}