.app {
  font-family: Arial, sans-serif;
  background-color: #d4ebeb;
  min-height: 100vh; /* Высота видимой области */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Центрируем контейнер по вертикали */
}

.container {
  display: flex; /* Включаем Flexbox для контейнера */
  align-items: center; /* Центрируем элементы внутри по вертикали */
  justify-content: center; /* Центрируем элементы внутри по горизонтали */
  gap: 20px; /* Промежуток между элементами */
  background: #fff; /* Цвет фона */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Убрали margin-top */
}
